<div class="site-header">
  <!-- <a href="<%= themeConfig.domain %>">
  <img class="avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt="">
  </a> -->
  <div class="site-title">
    <a href="<%= themeConfig.domain %>">
      <%= themeConfig.siteName %>
    </a>
    <div id="menu-bar" class="menu-bar">
      <div class="bar-line"></div>
      <div class="bar-line"></div>
      <div class="bar-line"></div>
    </div>
  </div>

  <div class="menu-container">
    <% menus.forEach(function(menu) { %>
      <% if (menu.openType==='External' ) { %>
        <a href="<%= menu.link %>" class="menu" target="_blank">
          <%= menu.name %>
        </a>
        <% } else { %>
          <a href="<%= menu.link %>" class="menu">
            <%= menu.name %>
          </a>
          <% } %>
            <% }); %>
  </div>
  
  <% if((typeof post !=='undefined' ) && post.toc) { %>
    <div class="toc-box">
      <div class="toc-container">
        <%- post.toc %>
      </div>
    </div>
    <% } %>

      <p class="site-description">

        <%- themeConfig.siteDescription %>
      </p>
      <!-- <div class="social-container">
    <% ['github', 'twitter' , 'weibo' , 'zhihu' , 'facebook' ].forEach((item)=> { %>
      <% if (site.customConfig[item]) { %>
        <a href="<%= site.customConfig[item] %>" target="_blank">
          <i class="fab fa-<%= item %>"></i>
        </a>
        <% } %>
          <% }) %>
  </div> -->
</div>