<html>

<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
    <link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">
    <script src="<%= themeConfig.domain %>/media/scripts/clipboard.min.js"></script>
</head>

<body class="post">
  <div class="main">
    <div class="main-content">
      <%- include('./includes/header') %>

        <div class="post-detail">

          <article class="post">
            <h2 class="post-title">
              <%= post.title %>
            </h2>

            <div class="post-info-line"></div>
            <div class="post-info">
              <time class="post-time">
                <i class="fa-solid fa-calendar-days"></i>
                <%= post.dateFormat %> ·
              </time>
              <i class="fa-solid fa-tags"></i>
              <% post.tags.forEach(function(tag) { %>
                <a href="<%= tag.link %>" class="post-tags">
                  # <%= tag.name %>
                </a>
                <% }); %>
                  · <i class="fa-solid fa-file-pen"></i>
                  <span>
                    <%= post.stats.words %>字
                  </span>
                  <span>
                    · <i class="fa-solid fa-stopwatch"></i>
                    <%= post.stats.minutes %>分钟阅读
                  </span>
            </div>
            <div class="post-info-line"></div>

            <!-- <% if (post.feature) { %>
              <div class="post-feature-image" style="background-image: url('<%= post.feature %>')">
              </div>
              <% } %> -->

            <div class="post-content">
              <%- post.content %>
            </div>
          </article>
        </div>

        <div class="post-line"></div>

        <div class="sibling-post">
          <% if (post.prevPost && !post.hideInList) { %>
            <div class="prev-post">
              <div class="prev">上一篇</div>
              <a href="<%= post.prevPost.link %>">
                <h3 class="post-title">
                  <%= post.prevPost.title %>
                </h3>
              </a>
            </div>
            <% } %>
              <% if (post.nextPost && !post.hideInList) { %>
                <div class="next-post">
                  <div class="next">下一篇</div>
                  <a href="<%= post.nextPost.link %>">
                    <h3 class="post-title">
                      <%= post.nextPost.title %>
                    </h3>
                  </a>
                </div>
                <% } %>
        </div>

        <% if (typeof commentSetting !=='undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform==='gitalk' ) { %>
            <%- include('./includes/gitalk') %>
              <% } %>

                <% if (commentSetting.commentPlatform==='disqus' ) { %>
                  <%- include('./includes/disqus') %>
                    <% } %>
                      <% } %>

                        <%- include('./includes/footer') %>

                          
    </div>
  </div>
  <script src="<%= themeConfig.domain %>/media/scripts/code-copy.js"></script>
  <script src="<%= themeConfig.domain %>/media/scripts/highlight-nav-link.js"></script>
  <script src="<%= themeConfig.domain %>/media/scripts/menu-bar.js"></script>
  <script src="<%= themeConfig.domain %>/media/scripts/toc.js"></script>
  <script src="<%= themeConfig.domain %>/media/scripts/image-alt.js"></script>
</body>

</html>